.filter {
    background: var(--color-surface);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

/* ======================================================================================= */
/* ===================== GROUP FILTERS =================================================== */
/* ======================================================================================= */

.group-filter .group-filter__title {
    padding-bottom: 15px;
}

.group-filter--categorys {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
}

.group-filter--categorys input {
    margin-right: 8px;
}
.group-filter__title {
    font-weight: 700;
    text-transform: capitalize;
}
.group-filter__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

/* ======================================================================================= */
/* =================== BUTTONS FILTER ==================================================== */
/* ======================================================================================= */

/* .button-filter {
    padding: 8px 14px;
    width: 100%;
    border-radius: 10px;
    background: var(----color-surface-al);
} */

/* ======================================================================================= */
/* ==================== PRICE FILTER ===================================================== */
/* ======================================================================================= */

.price-filter {
    width: 100%;
    padding: 20px;
    background: var(----color-surface-al);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    font-family: sans-serif;
}

.price-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.price-input-container .field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field input {
    height: 35px;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: var(--border);
    padding: 0 10px;
    background: var(--color-data-entry);
}

.separator {
    margin: 20px 10px 0;
    font-size: 19px;
}

/* ---------------------*/
/* ----- SLIDER -------*/
/* ---------------------*/

.slider-container {
    height: 5px;
    position: relative;
    background: var(--color-data-entry);
    border-radius: 5px;
    margin-bottom: 30px;
}

.progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--color-selected);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
/*----------------------------------*/
/*---------- SLIDER THUMB ----------*/
/*----------------------------------*/

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--color-selected);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    z-index: 10;
}

.filter-btn {
    width: 100%;
    padding: 10px;
    background: var(--color-selected);
    color: var(--color-data-entry);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.filter-btn:hover {
    background: var(--color-selected);
}
