/* Header Styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px); /* Розмиття того, що під блоком */

    color: #fff;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px 0;
    height: 80px;
}
.header__nav {
}
.header__nav-list {
    display: flex;
    column-gap: 20px;
}
.header__nav-item {
}


.actions-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
}


.products-actions-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.products-actions-header__link {
}


.cart-link {
}
.favorit-link {
}


.actions-header__profile {
}
