/* Style Reset */

html,
body{
    height: 100%;
    min-width: var(--screen-width-min);  

    font-size: var(--font-primary-size);
    line-height: var(--font-primary-lh);
}

body{
    font-family: 'm', sans-serif;
    background: var(--color-primary);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: rgb(0, 0, 0, 0);
}

input,
textarea{
    width: 100%;
}

label{
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: normal;
    font-size: inherit;
}

ol,
ul,
li{
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.main,
.basket {
    flex: 1 1 auto;
}

[class*=_container] {
    max-width: var(--screen-width-max);
    margin: 0 auto;
    padding: var(--container-main-padding);
}

