.header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px); /* Розмиття того, що під блоком */

    color: #fff;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px 0;
    height: 80px;
}
.header__nav {
}
.header__nav-list {
    display: flex;
    column-gap: 20px;
}
.header__nav-item {
}


.actions-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
}


.products-actions-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.products-actions-header__link {
}


.cart-link {
}
.favorit-link {
}


.actions-header__profile {
}




.main {
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 600px; /* Для малих екранів */
    width: 100%;

    background: #022d78;
    background: -webkit-linear-gradient(0deg, rgba(2, 45, 120, 1) 0%, rgba(2, 17, 51, 1) 47%, rgba(0, 1, 5, 1) 100%);
    background: -moz-linear-gradient(0deg, rgba(2, 45, 120, 1) 0%, rgba(2, 17, 51, 1) 47%, rgba(0, 1, 5, 1) 100%);
    background: linear-gradient(0deg, rgba(2, 45, 120, 1) 0%, rgba(2, 17, 51, 1) 47%, rgba(0, 1, 5, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022D78", endColorstr="#000105", GradientType=0);

    color: #fff;
}
.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;

    row-gap: 25px;
}

.intro__title {
    font-size: 32px;
    font-weight: 700;
}
.intro__text {
}
.intro__button {
}

/*----------------------------------------------------------*/

.shop {
    padding: 80px 0;
}
.shop__container {
    display: flex;
    column-gap: 40px;
}

.shop__aside {
    flex: 0 0 320px;
}

.filter {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.group-filter {
}

.group-filter .group-filter__title {
    padding-bottom: 15px;
}

.group-filter--categorys {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
}

.group-filter--categorys input {
    margin-right: 8px;
}
.group-filter__title {
    font-weight: 700;
    text-transform: capitalize;
}
.group-filter__category {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.button-filter {
    padding: 8px 14px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
}

.price-filter {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    font-family: sans-serif;
  }

  .price-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .price-input-container .field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .field input {
    height: 35px;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 10px;
    background: #fff;

  }

  .separator {
    margin: 20px 10px 0;
    font-size: 19px;
  }

  /* Стилізація слайдера */
  .slider-container {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #2563eb;
  }

  .range-input {
    position: relative;
  }

  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
  }

  /* Стиль "ручок" повзунка */
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #2563eb;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    cursor: pointer;
    z-index: 10;
  }

  .filter-btn {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .filter-btn:hover {
    background: #1d4ed8;
  }

/* -------------------------- */

.content-shop {
    flex: 1 1 auto;
}
.content-shop__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    justify-content: space-around;
    column-gap: 30px;
    row-gap: 40px;
    width: 100%;
}

.item-content-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    row-gap: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    padding: 25px 20px;

    transition: all .6s;
}

.item-content-shop:hover{
    transform: translate(0, -20px);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
}

.item-content-shop:active{
    transform: translate(0, -10px) scale(0.95);
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.15);
}

.item-content-shop__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;

    border-radius: 10px;
    overflow: hidden;
}

.item-content-shop__photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-content-shop__info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.item-content-shop__title {
    font-weight: 600;
    text-transform: capitalize;
}

.item-content-shop__price-box{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.item-content-shop__price {
    display: flex;
    align-items: end;
    column-gap: 6px;

    font-weight: 800;
    font-size: 20px;
    line-height: 1;
}

.item-content-shop__price.old{
    color: #bfbdbd;
    font-size: 14px;
    font-weight: 600;
    text-decoration: dashed;
}

.item-content-shop__price.new{
    color: #d00000;
}

.item-content-shop__price span{
    font-weight: 800;
}

.item-content-shop__by {
    background: #ff3d3d;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 10px;
    transition: all .3s;
}
.item-content-shop__by:hover{
    background: #ffba71;
}
.item-content-shop__by:active{
    background: #ed6a29;
}

.item-content-shop__discount {
    position: absolute;
    z-index: 10;
    top: 3%;
    left: -9%;
    background: #ffc933;
    color: #000000;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 34%;
    display: flex;
}

/* =================================== */
/* =================================== */
/* =================================== */

@keyframes marquee-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.js-marquee .marquee-inner {
    display: flex;
    gap: 0; /* Щоб текст йшов впритул */
}

/* ==================================== */
.rating-stars {
    display: inline-block;
    /* Розмір однієї зірки * 5. Наприклад, якщо зірка 20px: */
    width: 100px; 
    aspect-ratio: 10/2;

    /* Шлях до SVG з 5 зірками */
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20"><path d="M10 1.2l2.4 6.6H19l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L1 7.8h6.6zm20 0l2.4 6.6H39l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L21 7.8h6.6zm20 0l2.4 6.6H59l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L41 7.8h6.6zm20 0l2.4 6.6H79l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L61 7.8h6.6zm20 0l2.4 6.6H99l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L81 7.8h6.6z"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20"><path d="M10 1.2l2.4 6.6H19l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L1 7.8h6.6zm20 0l2.4 6.6H39l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L21 7.8h6.6zm20 0l2.4 6.6H59l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L41 7.8h6.6zm20 0l2.4 6.6H79l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L61 7.8h6.6zm20 0l2.4 6.6H99l-5.6 4.1 2.2 6.8-5.6-4.2-5.6 4.2 2.2-6.8L81 7.8h6.6z"/></svg>');

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    /* Фон (заповнення). Ми будемо змінювати його ширину через JS */
    background: linear-gradient(90deg, #FFD700 var(--rating-percent, 0%), #CCCCCC var(--rating-percent, 0%));
}