.basket_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    min-height: 100vh;
}

.product-card__console{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.product-card__console:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card__console:

/* =========== */

.basket {
}

.basket__container {
    padding-top: 90px;
}

.view-basket {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.view-basket__header {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 20px 30px;
    display: flex;
}
.view-basket__title {
}
.view-basket__content {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-basket {
}
.view-basket__footer {
    border-top: 1px solid #eee;
    width: 100%;
    padding: 20px 30px;
    display: flex;
}
.view-basket__checkout {
}
.btn-checkout {
}